dist/
lib/
__snapshots__/
**/testing/resources/*.graphql
coverage/
e2e_coverage/
.husky/
project-fixtures/**/*.invalid.json
project-fixtures/**/__generated__/
project-fixtures/**/manifest.json
project-fixtures/**/GRAPHQL_OPERATIONS.md
