name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
          git diff --name-only --exit-code
      - name: Test
        run: |
          npm link
          npm link ts-graphql-plugin
          npm test
        env:
          CI: true
      - uses: codecov/codecov-action@v5
        with:
          name: jest
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
      - uses: codecov/codecov-action@v5
        with:
          name: e2e
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./e2e_coverage/coverage-final.json
